body{
    background: linear-gradient(rgba(255, 94, 0, 1), rgba(207, 0, 0, 1));
    background-repeat: no-repeat;
    height: 100vh;
}

h1{
    color: white;
}

h2{
    color: white;
}

.mt-3{
    margin-top: 4rem !important;
}

.mb-3{
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem !important;
}

.btn-primary{
    background: white;
    color: rgba(207, 0, 0, 1);
}